.skills {
  padding-bottom: 2em;
  height: 80vh;
  .container {
    height: 80%;
    width: 100%;
    flex-direction: column;
    justify-content: flex-start;
    h2 {
      height: 20%;
    }
    .list {
      width: 60%;
      height: 80%;
      .list-container {
        width: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
      }
      .font-end {
        width: 60%;
      }
    }
    img {
      width: 5em;
      height: 5em;
      margin-right: 0.5em;
      border-radius: 0.5em;
    }
  }
}
