.skills {
  height: 100vh;
  .container {
    height: 100%;
    flex-direction: column;
    h2 {
      height: 20%;
    }
    .list {
      width: 65%;

      .list-container {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
      .font-end {
        width: 60%;
      }

      .design {
        margin-top: 3em;
      }
    }
    img {
      width: 5em;
      height: 5em;
      margin-right: 0.5em;
      border-radius: 0.5em;
    }
  }
}
