@use "./components" as *;
@use "./container" as *;
@use "./section" as *;
@use "./values" as *;
@use "./mixin" as *;

.App {
  #logo {
    position: fixed;
    top: 0.5em;
    left: 1em;
    z-index: 10;
  }
  @include respond-to("tablet") {
    #logo {
      font-size: 2em;
    }
  }
}
