@use "./components" as *;
@use "./container" as *;
@use "./section" as *;
@use "./values" as *;
@use "./mixin" as *;

.App {
  #logo {
    background-color: $black;
    padding: 0.1em 0.5em 0.1em 0.5em;
    position: fixed;
    top: 0.7em;
    left: 1em;
    z-index: 5;
    border-radius: 0.2em;
  }
  @include respond-to("tablet") {
    #logo {
      top: 0.3em;
      font-size: 2em;
    }
  }
}
