@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Raleway:wght@300&family=Roboto:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Serif:ital@1&display=swap");

//color
$main: #f4db7d;
$secondary: #ff6a3d;
$third: #1a2238;
$black: #04030f;
$white: #fffbff;

//font
$fontFamily: "Bebas Neue", cursive;
$fontBody: "Roboto Serif", serif;

@for $index from 1 through 6 {
  h#{$index} {
    font-family: $fontFamily;
    color: $white;
    margin: 0;
  }
}
h1 {
  font-size: 3em;
}
h2 {
  font-size: 2.5em;
}
h3 {
  font-size: 2em;
}
h4 {
  font-size: 1.5em;
}

html,
body {
  scroll-behavior: smooth 250ms ease;
  margin: 0 !important;
  padding: 0 !important;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
  .particles-bg-canvas-self {
    background-color: $black;
  }
  .button {
    height: 3em;
    width: 9em;
    font-family: $fontFamily;
    color: $black;
    font-size: 1em;
    background-color: $main;
    border: 1px solid white;
    &:hover {
      background-color: $main;
      text-decoration: underline 2px $white;
      text-underline-offset: 0.5em;
      transition: background-color 200ms ease text-decoration 200ms ease;
    }
    &:active {
      background-color: $main;
      text-decoration: underline 2px $white;
      text-underline-offset: 0.5em;
      transition: background-color 200ms ease text-decoration 200ms ease;
    }
  }
}
p {
  font-family: $fontBody;
  width: 60%;
  text-align: center;
  color: $white;
  font-size: 1em;
  line-height: 1.6;
}
input,
a,
select,
textarea {
  font-family: $fontBody;
  color: $white;
}
:export {
  main: $main;
  secondary: $secondary;
  third: $third;
  black: $black;
  white: $white;
  font-family: $fontFamily;
}
